//Roboto mono for main hero screen
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

$fontColor: #eeeeee;
$fontColorDark: #1b1919;
$fontBaseSize: 10px;
$ctaButtonColor: #1a851a;
$ctaButtonWidth: 16rem;
$ctaButtonHeight: 5.5rem;
$zindexBase: 0;
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: $fontBaseSize;
}
/* Elements are sized for mobile first 320x6xx like iPhones and then
will adjusted for desktops*/
h1 {
  font-size: 3.2rem;
}
button {
  font-size: 2.4em;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button:hover, a:hover{
  cursor: pointer;
}

#three-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindexBase - 1;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: $fontColor;
  z-index: $zindexBase + 1;
}

.intro {
  z-index: $zindexBase + 1;
  background: #ffffff;
  color:$fontColorDark;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  padding:1.5rem;
  font-size:1.5em;
  h2{
    font-size:2.5rem;
  }
}

.social{
    z-index: 3;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    img{
      padding: 0 .5rem 0 .5rem;
      width:4rem;
      cursor: pointer;
    }
    position: absolute;
    top:94%;
    right:0;
}
.cta{
  z-index: $zindexBase + 1;
  width: $ctaButtonWidth;
  height: $ctaButtonHeight;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  padding: 1.2rem;
  color: $fontColor;
  background-color: $ctaButtonColor;
  border-radius: 1rem;
  text-transform: capitalize;
}
.cta-link{
  width: $ctaButtonWidth;
  height: $ctaButtonHeight;
  margin: 0 auto;
}



.feature{
  i{
    // width:2rem;
    // height:2rem;
  }
}