
$backgroundColor: #1d1b1b; 

html,
body {
   height: 100%;
   width:100%;
}

body{
    // background-color: $backgroundColor;
    color: orange;
    font-family:  'wedgieregular', sans-serif;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

#three-container{
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
}

#stats{
    position: absolute;
    top:0;
    left:0;
}